@tailwind base;
@tailwind components;
@tailwind utilities;

.popup_window {
  background: rgba(0, 0, 0, .95);
  border: white 2px solid;
  position: absolute;
  padding: 16px 48px 16px 48px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 25%;
  left: 5%;
  height: 320px;
}

.game_window {
  height: 448px;
  width: 512px;
}