@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1024px) {
  .popup_window {
    left: 20% !important;
    top: 25% !important;
  }
}

@media only screen and (min-width: 768px) {
  button {
    transition: all .2s;
  }
  button:hover {
    color: rgb(254 249 195);
  }
}

.popup_window {
  background: rgba(0, 0, 0, .95);
  border: white 2px solid;
  position: absolute;
  padding: 16px 48px 16px 48px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 25%;
  left: 5%;
  height: 320px;
}

.game_window {
  height: 448px;
  width: 512px;
}